In [1034]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1035]:
countryDf= pd.read_csv(r'C:\Users\sh9wn\Desktop\country_data.csv',index_col='Country Name')
countryDf.head()
#read in data

,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016]
Country Name,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,23,26.92931747,33.01575089,42.4,45.23712158,42.7,43.22201891,69.1,70.15348053,89.5,71.5,97.7
Afghanistan,AFG,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,48.021,47.505,46.901,46.231,45.507,44.723,43.87,42.944,41.949,40.903,39.829,38.75,37.69,36.67,35.706,34.809,33.981
Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.037234781,0.037846136,0.047377324,0.050481336,0.038410043,0.051743965,0.062427532,0.083892806,0.151720912,0.238398541,0.28998763,0.406424217,0.345148783,0.310341015,0.293946407,..,..
Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,..,..,16.24954214,17.49073742,20.92708722,24.44651183,28.41666243,31.84018306,38.70049248,42.30451021,45.5877498,51.5532587,52.21850635,55.96754976,60.11276091,60.0888133,57.24876048
Afghanistan,AFG,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,11.718,11.387,11.048,10.704,10.356,10.003,9.645,9.287,8.932,8.584,8.25,7.936,7.645,7.38,7.141,6.929,6.742

In [1036]:
countryDf.columns

Index(['Country Code', 'Series Name', 'Series Code', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]',
       '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]'],
      dtype='object')

In [1037]:
countryDf.shape

(3965, 20)

In [1038]:
countryDf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3965 entries, Afghanistan to Last Updated: 10/28/2019
Data columns (total 20 columns):
Country Code     3960 non-null object
Series Name      3960 non-null object
Series Code      3960 non-null object
2000 [YR2000]    3960 non-null object
2001 [YR2001]    3960 non-null object
2002 [YR2002]    3960 non-null object
2003 [YR2003]    3960 non-null object
2004 [YR2004]    3960 non-null object
2005 [YR2005]    3960 non-null object
2006 [YR2006]    3960 non-null object
2007 [YR2007]    3960 non-null object
2008 [YR2008]    3960 non-null object
2009 [YR2009]    3960 non-null object
2010 [YR2010]    3960 non-null object
2011 [YR2011]    3960 non-null object
2012 [YR2012]    3960 non-null object
2013 [YR2013]    3960 non-null object
2014 [YR2014]    3960 non-null object
2015 [YR2015]    3960 non-null object
2016 [YR2016]    3960 non-null object
dtypes: object(20)
memory usage: 650.5+ KB

In [1039]:
#Cleaning columns names
countryDf.columns = ['Country_Code','Series_name','Series_code', '2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016']

In [1040]:
countryDf.columns

Index(['Country_Code', 'Series_name', 'Series_code', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016'],
      dtype='object')

In [1041]:
countryDf.drop(columns=['Series_code','Country_Code'],inplace=True)
#drop columns that aren't useful

In [1042]:
countryDf.head()

,Series_name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,
Afghanistan,Access to electricity (% of population),..,..,..,..,..,23,26.92931747,33.01575089,42.4,45.23712158,42.7,43.22201891,69.1,70.15348053,89.5,71.5,97.7
Afghanistan,"Birth rate, crude (per 1,000 people)",48.021,47.505,46.901,46.231,45.507,44.723,43.87,42.944,41.949,40.903,39.829,38.75,37.69,36.67,35.706,34.809,33.981
Afghanistan,CO2 emissions (metric tons per capita),0.037234781,0.037846136,0.047377324,0.050481336,0.038410043,0.051743965,0.062427532,0.083892806,0.151720912,0.238398541,0.28998763,0.406424217,0.345148783,0.310341015,0.293946407,..,..
Afghanistan,Current health expenditure per capita (current...,..,..,16.24954214,17.49073742,20.92708722,24.44651183,28.41666243,31.84018306,38.70049248,42.30451021,45.5877498,51.5532587,52.21850635,55.96754976,60.11276091,60.0888133,57.24876048
Afghanistan,"Death rate, crude (per 1,000 people)",11.718,11.387,11.048,10.704,10.356,10.003,9.645,9.287,8.932,8.584,8.25,7.936,7.645,7.38,7.141,6.929,6.742

In [1043]:
countryDf= countryDf.apply(lambda x: x.replace('..',np.nan))
#replace '..' with a nan value

In [1044]:
countryDf.head()

,Series_name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,
Afghanistan,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,23,26.92931747,33.01575089,42.4,45.23712158,42.7,43.22201891,69.1,70.15348053,89.5,71.5,97.7
Afghanistan,"Birth rate, crude (per 1,000 people)",48.021,47.505,46.901,46.231,45.507,44.723,43.87,42.944,41.949,40.903,39.829,38.75,37.69,36.67,35.706,34.809,33.981
Afghanistan,CO2 emissions (metric tons per capita),0.037234781,0.037846136,0.047377324,0.050481336,0.038410043,0.051743965,0.062427532,0.083892806,0.151720912,0.238398541,0.28998763,0.406424217,0.345148783,0.310341015,0.293946407,NaN,NaN
Afghanistan,Current health expenditure per capita (current...,NaN,NaN,16.24954214,17.49073742,20.92708722,24.44651183,28.41666243,31.84018306,38.70049248,42.30451021,45.5877498,51.5532587,52.21850635,55.96754976,60.11276091,60.0888133,57.24876048
Afghanistan,"Death rate, crude (per 1,000 people)",11.718,11.387,11.048,10.704,10.356,10.003,9.645,9.287,8.932,8.584,8.25,7.936,7.645,7.38,7.141,6.929,6.742

In [1045]:
countryDf = countryDf.reset_index()

In [1046]:
countryDf= countryDf.set_index(['Country Name', 'Series_name'])

In [1047]:
countryDf.columns.name= 'Year'
#Gave seperate columns year a group name

In [1048]:
countryDf= countryDf.stack()
countryDf= countryDf.unstack('Series_name')
#moving series factors to unique columns instead of rows

In [1049]:
countryDf.head()

Series_name       Access to electricity (% of population)  \
Country Name Year
Afghanistan  2000                                     NaN
             2001                                     NaN
             2002                                     NaN
             2003                                     NaN
             2004                                     NaN

Series_name       Birth rate, crude (per 1,000 people)  \
Country Name Year
Afghanistan  2000                               48.021
             2001                               47.505
             2002                               46.901
             2003                               46.231
             2004                               45.507

Series_name       CO2 emissions (metric tons per capita)  \
Country Name Year
Afghanistan  2000                            0.037234781
             2001                            0.037846136
             2002                            0.047377324
             2003                            0.050481336
             2004                            0.038410043

Series_name       Current health expenditure per capita (current US$)  \
Country Name Year
Afghanistan  2000                                                NaN
             2001                                                NaN
             2002                                        16.24954214
             2003                                        17.49073742
             2004                                        20.92708722

Series_name       Death rate, crude (per 1,000 people)  \
Country Name Year
Afghanistan  2000                               11.718
             2001                               11.387
             2002                               11.048
             2003                               10.704
             2004                               10.356

Series_name       Electric power consumption (kWh per capita)  \
Country Name Year
Afghanistan  2000                                         NaN
             2001                                         NaN
             2002                                         NaN
             2003                                         NaN
             2004                                         NaN

Series_name       Fixed broadband subscriptions (per 100 people)  \
Country Name Year
Afghanistan  2000                                            NaN
             2001                                            NaN
             2002                                            NaN
             2003                                            NaN
             2004                                    0.000808843

Series_name       GNI per capita, PPP (current international $)  \
Country Name Year
Afghanistan  2000                                           NaN
             2001                                           NaN
             2002                                           NaN
             2003                                           NaN
             2004                                           NaN

Series_name       Individuals using the Internet (% of population)  \
Country Name Year
Afghanistan  2000                                              NaN
             2001                                      0.004722568
             2002                                      0.004561395
             2003                                      0.087891253
             2004                                       0.10580903

Series_name       Mobile cellular subscriptions (per 100 people)  \
Country Name Year
Afghanistan  2000                                              0
             2001                                              0
             2002                                      0.1106157
             2003                                     0.84456353
             2004                                    2.426528361

Series_name       Population density (people per sq. km of land area)  \
Country Name Year
Afghanistan  2000                                        31.82911038
             2001                                        33.09589805
             2002                                        34.61809576
             2003                                        36.27251019
             2004                                        37.87440493

Series_name       Population, total  \
Country Name Year
Afghanistan  2000          20779953
             2001          21606988
             2002          22600770
             2003          23680871
             2004          24726684

Series_name       Unemployment, female (% of female labor force) (national estimate)  \
Country Name Year
Afghanistan  2000                                                NaN
             2001                                                NaN
             2002                                                NaN
             2003                                                NaN
             2004                                                NaN

Series_name       Unemployment, male (% of male labor force) (national estimate)  \
Country Name Year
Afghanistan  2000                                                NaN
             2001                                                NaN
             2002                                                NaN
             2003                                                NaN
             2004                                                NaN

Series_name       Urban population (% of total population)
Country Name Year
Afghanistan  2000                                   22.078
             2001                                   22.169
             2002                                   22.261
             2003                                   22.353
             2004                                     22.5

In [1050]:
countryDf= countryDf.dropna(thresh=12)
countryDf= countryDf.fillna(0)
countryDf.head()
#dropping years with more than 3 na values and filling the remaining with 0

Series_name       Access to electricity (% of population)  \
Country Name Year
Afghanistan  2008                                    42.4
             2009                             45.23712158
             2010                                    42.7
             2012                                    69.1
             2013                             70.15348053

Series_name       Birth rate, crude (per 1,000 people)  \
Country Name Year
Afghanistan  2008                               41.949
             2009                               40.903
             2010                               39.829
             2012                                37.69
             2013                                36.67

Series_name       CO2 emissions (metric tons per capita)  \
Country Name Year
Afghanistan  2008                            0.151720912
             2009                            0.238398541
             2010                             0.28998763
             2012                            0.345148783
             2013                            0.310341015

Series_name       Current health expenditure per capita (current US$)  \
Country Name Year
Afghanistan  2008                                        38.70049248
             2009                                        42.30451021
             2010                                         45.5877498
             2012                                        52.21850635
             2013                                        55.96754976

Series_name       Death rate, crude (per 1,000 people)  \
Country Name Year
Afghanistan  2008                                8.932
             2009                                8.584
             2010                                 8.25
             2012                                7.645
             2013                                 7.38

Series_name       Electric power consumption (kWh per capita)  \
Country Name Year
Afghanistan  2008                                           0
             2009                                           0
             2010                                           0
             2012                                           0
             2013                                           0

Series_name       Fixed broadband subscriptions (per 100 people)  \
Country Name Year
Afghanistan  2008                                    0.001803604
             2009                                     0.00352177
             2010                                    0.005139537
             2012                                    0.004813651
             2013                                    0.004648339

Series_name       GNI per capita, PPP (current international $)  \
Country Name Year
Afghanistan  2008                                             0
             2009                                          1450
             2010                                          1640
             2012                                          1810
             2013                                          1880

Series_name       Individuals using the Internet (% of population)  \
Country Name Year
Afghanistan  2008                                             1.84
             2009                                             3.55
             2010                                                4
             2012                                      5.454545455
             2013                                              5.9

Series_name       Mobile cellular subscriptions (per 100 people)  \
Country Name Year
Afghanistan  2008                                    28.49300324
             2009                                    36.97858479
             2010                                    35.00312672
             2012                                    49.22797697
             2013                                    52.08357627

Series_name       Population density (people per sq. km of land area)  \
Country Name Year
Afghanistan  2008                                        42.46281898
             2009                                        43.49295867
             2010                                        44.70408204
             2012                                        47.73056398
             2013                                        49.42803817

Series_name       Population, total  \
Country Name Year
Afghanistan  2008          27722276
             2009          28394813
             2010          29185507
             2012          31161376
             2013          32269589

Series_name       Unemployment, female (% of female labor force) (national estimate)  \
Country Name Year
Afghanistan  2008                                        2.187099934
             2009                                                  0
             2010                                                  0
             2012                                        3.332600117
             2013                                                  0

Series_name       Unemployment, male (% of male labor force) (national estimate)  \
Country Name Year
Afghanistan  2008                                         2.65260005
             2009                                                  0
             2010                                                  0
             2012                                        1.360299945
             2013                                                  0

Series_name       Urban population (% of total population)
Country Name Year
Afghanistan  2008                                    23.32
             2009                                   23.528
             2010                                   23.737
             2012                                    24.16
             2013                                   24.373

In [1051]:
countryDf = countryDf.astype('float').round(3)
countryDf.head()
#convert numbers to float and rounding to 3 decimals

Series_name        Access to electricity (% of population)  \
Country Name Year
Afghanistan  2008                                   42.400
             2009                                   45.237
             2010                                   42.700
             2012                                   69.100
             2013                                   70.153

Series_name        Birth rate, crude (per 1,000 people)  \
Country Name Year
Afghanistan  2008                                41.949
             2009                                40.903
             2010                                39.829
             2012                                37.690
             2013                                36.670

Series_name        CO2 emissions (metric tons per capita)  \
Country Name Year
Afghanistan  2008                                   0.152
             2009                                   0.238
             2010                                   0.290
             2012                                   0.345
             2013                                   0.310

Series_name        Current health expenditure per capita (current US$)  \
Country Name Year
Afghanistan  2008                                             38.700
             2009                                             42.305
             2010                                             45.588
             2012                                             52.219
             2013                                             55.968

Series_name        Death rate, crude (per 1,000 people)  \
Country Name Year
Afghanistan  2008                                 8.932
             2009                                 8.584
             2010                                 8.250
             2012                                 7.645
             2013                                 7.380

Series_name        Electric power consumption (kWh per capita)  \
Country Name Year
Afghanistan  2008                                          0.0
             2009                                          0.0
             2010                                          0.0
             2012                                          0.0
             2013                                          0.0

Series_name        Fixed broadband subscriptions (per 100 people)  \
Country Name Year
Afghanistan  2008                                           0.002
             2009                                           0.004
             2010                                           0.005
             2012                                           0.005
             2013                                           0.005

Series_name        GNI per capita, PPP (current international $)  \
Country Name Year
Afghanistan  2008                                            0.0
             2009                                         1450.0
             2010                                         1640.0
             2012                                         1810.0
             2013                                         1880.0

Series_name        Individuals using the Internet (% of population)  \
Country Name Year
Afghanistan  2008                                             1.840
             2009                                             3.550
             2010                                             4.000
             2012                                             5.455
             2013                                             5.900

Series_name        Mobile cellular subscriptions (per 100 people)  \
Country Name Year
Afghanistan  2008                                          28.493
             2009                                          36.979
             2010                                          35.003
             2012                                          49.228
             2013                                          52.084

Series_name        Population density (people per sq. km of land area)  \
Country Name Year
Afghanistan  2008                                             42.463
             2009                                             43.493
             2010                                             44.704
             2012                                             47.731
             2013                                             49.428

Series_name        Population, total  \
Country Name Year
Afghanistan  2008         27722276.0
             2009         28394813.0
             2010         29185507.0
             2012         31161376.0
             2013         32269589.0

Series_name        Unemployment, female (% of female labor force) (national estimate)  \
Country Name Year
Afghanistan  2008                                              2.187
             2009                                              0.000
             2010                                              0.000
             2012                                              3.333
             2013                                              0.000

Series_name        Unemployment, male (% of male labor force) (national estimate)  \
Country Name Year
Afghanistan  2008                                              2.653
             2009                                              0.000
             2010                                              0.000
             2012                                              1.360
             2013                                              0.000

Series_name        Urban population (% of total population)
Country Name Year
Afghanistan  2008                                    23.320
             2009                                    23.528
             2010                                    23.737
             2012                                    24.160
             2013                                    24.373

In [1052]:
countryDf= countryDf.reset_index()
countryDf.sort_index()
#resetting index so Country Name and Year can now be columns and rows have unique id's

Series_name,Country Name,Year,Access to electricity (% of population),"Birth rate, crude (per 1,000 people)",CO2 emissions (metric tons per capita),Current health expenditure per capita (current US$),"Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),Fixed broadband subscriptions (per 100 people),"GNI per capita, PPP (current international $)",Individuals using the Internet (% of population),Mobile cellular subscriptions (per 100 people),Population density (people per sq. km of land area),"Population, total","Unemployment, female (% of female labor force) (national estimate)","Unemployment, male (% of male labor force) (national estimate)",Urban population (% of total population)
0,Afghanistan,2008,42.400,41.949,0.152,38.700,8.932,0.000,0.002,0.000,1.840,28.493,42.463,2.772228e+07,2.187,2.653,23.320
1,Afghanistan,2009,45.237,40.903,0.238,42.305,8.584,0.000,0.004,1450.000,3.550,36.979,43.493,2.839481e+07,0.000,0.000,23.528
2,Afghanistan,2010,42.700,39.829,0.290,45.588,8.250,0.000,0.005,1640.000,4.000,35.003,44.704,2.918551e+07,0.000,0.000,23.737
3,Afghanistan,2012,69.100,37.690,0.345,52.219,7.645,0.000,0.005,1810.000,5.455,49.228,47.731,3.116138e+07,3.333,1.360,24.160
4,Afghanistan,2013,70.153,36.670,0.310,55.968,7.380,0.000,0.005,1880.000,5.900,52.084,49.428,3.226959e+07,0.000,0.000,24.373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3408,World,2010,83.251,19.781,4.835,912.703,7.849,2957.631,7.846,12804.986,28.753,76.143,54.361,6.922947e+09,0.000,0.000,51.645
3409,World,2011,82.142,19.599,4.975,988.673,7.768,3022.867,8.983,13526.533,31.148,83.695,54.998,7.004011e+09,0.000,0.000,52.103
3410,World,2012,84.809,19.485,5.005,998.819,7.718,3048.477,9.353,14123.246,34.225,87.908,55.651,7.086994e+09,0.000,0.000,52.554
3411,World,2013,85.113,19.278,4.998,1021.660,7.655,3108.726,9.773,14700.563,36.766,92.438,56.311,7.170962e+09,0.000,0.000,53.005
3412,World,2014,85.588,19.195,4.981,1046.475,7.597,3130.710,10.217,15328.602,39.859,96.030,56.976,7.255654e+09,0.000,0.000,53.457

In [1053]:
europels=['Albania', 'Andorra', 'Armenia', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia-Herzegovina', 'Bulgaria', 'Croatia' ,'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom', 'England', 'Northern Ireland', 'Scotland', 'Wales', 'Vatican City']
#list of european countries

In [1054]:
europeDf = countryDf[countryDf['Country Name'].map(lambda x: x in europels)]
europeDf.reset_index(drop=True, inplace=True)
#creating new euro df from euro list

In [1055]:
europeDf.head()

Series_name,Country Name,Year,Access to electricity (% of population),"Birth rate, crude (per 1,000 people)",CO2 emissions (metric tons per capita),Current health expenditure per capita (current US$),"Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),Fixed broadband subscriptions (per 100 people),"GNI per capita, PPP (current international $)",Individuals using the Internet (% of population),Mobile cellular subscriptions (per 100 people),Population density (people per sq. km of land area),"Population, total","Unemployment, female (% of female labor force) (national estimate)","Unemployment, male (% of male labor force) (national estimate)",Urban population (% of total population)
0,Albania,2000,100.0,16.436,0.978,75.531,5.914,1449.647,0.0,3980.0,0.114,0.952,112.738,3089027.0,19.3,14.9,41.741
1,Albania,2001,100.0,15.590,1.053,81.946,5.879,1351.231,0.0,4440.0,0.326,12.546,111.685,3060173.0,19.9,14.2,42.435
2,Albania,2002,100.0,14.790,1.230,89.858,5.891,1578.166,0.0,4780.0,0.390,27.222,111.351,3051010.0,19.1,13.6,43.501
3,Albania,2003,100.0,14.048,1.413,113.584,5.952,1469.265,0.0,5130.0,0.972,35.279,110.935,3039616.0,18.2,12.9,44.573
4,Albania,2004,100.0,13.381,1.376,151.981,6.061,1797.525,0.0,5550.0,2.420,40.568,110.472,3026939.0,17.5,12.4,45.651

In [1056]:
#2nd data frame

In [1057]:
suicideDf= pd.read_csv(r'C:\Users\sh9wn\Desktop\suicides.csv')

In [1058]:
suicideDf.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers

In [1059]:
#merge?

In [1060]:
EUdivorce= pd.read_excel(r'C:\Users\sh9wn\Desktop\divorce statistics euro.xlsx', sheet_name='Sheet2')

In [1061]:
EUdivorce

,time,2006,Unnamed: 2,2007,Unnamed: 4,2008,Unnamed: 6,2009,Unnamed: 8,2010,...,2013,Unnamed: 16,2014,Unnamed: 18,2015,Unnamed: 20,2016,Unnamed: 22,2017,Unnamed: 24
0,Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,European Union - 28 countries,2.1,NaN,2.1,NaN,2,NaN,1.9,NaN,2,...,1.9,NaN,1.8,NaN,1.9,NaN,:,NaN,:,NaN
2,European Union - 27 countries (2007-2013),2.1,NaN,2.1,NaN,2,NaN,1.9,NaN,2,...,1.9,NaN,:,NaN,:,NaN,:,NaN,:,NaN
3,Euro area (19 countries),:,NaN,:,NaN,:,NaN,:,NaN,:,...,1.8,NaN,:,NaN,:,NaN,:,NaN,:,NaN
4,Euro area (18 countries),2.1,NaN,2,NaN,2,NaN,1.9,NaN,1.9,...,1.8,NaN,:,NaN,:,NaN,:,NaN,:,NaN
5,Belgium,2.8,NaN,2.8,NaN,3.3,NaN,3,NaN,2.7,...,2.2,NaN,2.2,NaN,2.2,NaN,2.1,NaN,2,NaN
6,Bulgaria,2,NaN,2.2,NaN,1.9,NaN,1.6,NaN,1.5,...,1.5,NaN,1.5,NaN,1.5,NaN,1.5,NaN,1.5,NaN
7,Czechia,3.1,NaN,3,NaN,3,NaN,2.8,NaN,2.9,...,2.7,NaN,2.5,NaN,2.5,NaN,2.4,NaN,2.4,NaN
8,Denmark,2.6,NaN,2.6,NaN,2.7,NaN,2.7,NaN,2.6,...,3.4,NaN,3.4,NaN,2.9,NaN,3,NaN,2.6,NaN
9,Germany (until 1990 former territory of the FRG),2.3,NaN,2.3,NaN,2.3,NaN,2.3,NaN,2.3,...,2.1,NaN,2.1,NaN,2,NaN,2,NaN,1.9,NaN
10,Estonia,2.8,NaN,2.8,NaN,2.6,NaN,2.4,NaN,2.2,...,2.5,NaN,2.4,NaN,2.6,NaN,2.5,NaN,2.5,NaN
11,Ireland,0.9,NaN,0.8,NaN,0.8,NaN,0.7,NaN,0.7,...,0.6,NaN,0.6,NaN,0.7,NaN,:,NaN,:,NaN
12,Greece,1.2,NaN,1.2,NaN,1.2,NaN,1.2,NaN,1.2,...,1.5,NaN,1.3,NaN,1.4,NaN,1,NaN,1.8,NaN
13,Spain,2.9,NaN,2.8,NaN,2.4,NaN,2.1,NaN,2.2,...,2,NaN,2.2,NaN,2.1,NaN,2.1,NaN,2.1,NaN
14,France,2.2,NaN,2.1,NaN,2.1,NaN,2,NaN,2.1,...,1.9,NaN,1.9,NaN,1.9,NaN,1.9,NaN,:,NaN
15,France (metropolitan),2.2,NaN,2.1,NaN,2.1,NaN,:,NaN,2.1,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
16,Croatia,1.1,NaN,1.1,NaN,1.2,NaN,1.2,NaN,1.2,...,1.4,NaN,1.4,NaN,1.4,NaN,1.7,NaN,1.5,NaN
17,Italy,0.9,NaN,0.9,NaN,0.9,NaN,0.9,NaN,0.9,...,0.9,NaN,0.9,NaN,1.4,NaN,1.6,NaN,1.5,NaN
18,Cyprus,2.3,NaN,2.1,NaN,2.1,NaN,2.2,NaN,2.3,...,2.2,NaN,2.2,NaN,2.1,NaN,2.3,NaN,2.2,NaN
19,Latvia,3.3,NaN,3.4,NaN,2.9,NaN,2.4,NaN,2.4,...,3.5,NaN,3.1,NaN,2.6,NaN,3.1,NaN,3.1,NaN
20,Lithuania,3.4,NaN,3.5,NaN,3.2,NaN,2.9,NaN,3.2,...,3.4,NaN,3.3,NaN,3.2,NaN,3.1,NaN,3,NaN
21,Luxembourg,2.5,NaN,2.3,NaN,2,NaN,2.1,NaN,2.1,...,2.1,NaN,2.6,NaN,2.4,NaN,2.1,NaN,2,NaN
22,Hungary,2.5,NaN,2.5,NaN,2.5,NaN,2.4,NaN,2.4,...,2,NaN,2,NaN,2.1,NaN,2,NaN,1.9,NaN
23,Malta,:,NaN,:,NaN,:,NaN,:,NaN,:,...,0.8,NaN,0.7,NaN,0.8,NaN,0.8,NaN,0.7,NaN
24,Netherlands,1.9,NaN,2,NaN,2,NaN,1.9,NaN,2,...,2,NaN,2.1,NaN,2,NaN,2,NaN,1.9,NaN
25,Austria,2.5,NaN,2.5,NaN,2.4,NaN,2.3,NaN,2.1,...,1.9,NaN,1.9,NaN,1.9,NaN,1.8,NaN,1.8,NaN
26,Poland,1.9,NaN,1.7,NaN,1.7,NaN,1.7,NaN,1.6,...,1.7,NaN,1.7,NaN,1.8,NaN,1.7,NaN,1.7,NaN
27,Portugal,2.3,NaN,2.4,NaN,2.5,NaN,2.5,NaN,2.6,...,2.2,NaN,2.1,NaN,2.3,NaN,2.2,NaN,2.1,NaN
28,Romania,1.5,NaN,1.7,NaN,1.7,NaN,1.6,NaN,1.6,...,1.4,NaN,1.4,NaN,1.6,NaN,1.5,NaN,1.6,NaN
29,Slovenia,1.2,NaN,1.3,NaN,1.1,NaN,1.1,NaN,1.2,...,1.1,NaN,1.2,NaN,1.2,NaN,1.2,NaN,1.2,NaN
30,Slovakia,2.4,NaN,2.3,NaN,2.4,NaN,2.4,NaN,2.2,...,2,NaN,1.9,NaN,1.8,NaN,1.7,NaN,1.8,NaN
31,Finland,2.5,NaN,2.5,NaN,2.5,NaN,2.5,NaN,2.5,...,2.5,NaN,2.5,NaN,2.5,NaN,2.5,NaN,2.4,NaN
32,Sweden,2.2,NaN,2.3,NaN,2.3,NaN,2.4,NaN,2.5,...,2.8,NaN,2.7,NaN,2.5,NaN,2.4,NaN,2.4,NaN
33,United Kingdom,2.4,NaN,2.3,NaN,2.2,NaN,2,NaN,2.1,...,2,NaN,1.9,NaN,1.7,NaN,1.8,NaN,:,NaN
34,Iceland,1.6,NaN,1.7,NaN,1.7,NaN,1.7,NaN,1.8,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
35,Liechtenstein,2.3,NaN,2.8,NaN,2.8,NaN,2.7,NaN,2.4,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
36,Norway,2.3,NaN,2.2,NaN,2.1,NaN,2.1,NaN,2.1,...,2,NaN,1.9,NaN,1.9,NaN,1.9,NaN,2,NaN
37,Switzerland,2.8,NaN,2.6,NaN,2.6,NaN,2.5,NaN,2.8,...,2.1,NaN,2,NaN,2.1,NaN,2,NaN,1.9,NaN
38,Montenegro,0.8,NaN,0.7,NaN,0.7,NaN,0.7,NaN,0.8,...,0.8,NaN,0.9,NaN,0.9,NaN,1.1,NaN,1.2,NaN
39,North Macedonia,0.7,NaN,0.7,NaN,0.6,NaN,0.6,NaN,0.8,...,1,NaN,1.1,NaN,1,NaN,1,NaN,1,NaN
40,Albania,1.3,NaN,1,NaN,1.1,NaN,:,NaN,:,...,:,NaN,1.5,NaN,1.3,NaN,1.9,NaN,1.6,NaN
41,Serbia,1.1,NaN,1.2,NaN,1.2,NaN,1.2,NaN,0.9,...,1.1,NaN,1.1,NaN,1.3,NaN,1.3,NaN,1.3,NaN
42,Turkey,1.3,NaN,1.3,NaN,1.4,NaN,1.6,NaN,1.6,...,1.6,NaN,1.7,NaN,1.7,NaN,1.6,NaN,1.6,NaN
43,Andorra,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
44,Belarus,3.3,NaN,3.7,NaN,3.8,NaN,3.7,NaN,3.9,...,3.8,NaN,3.7,NaN,3.5,NaN,3.4,NaN,3.4,NaN
45,Bosnia and Herzegovina,0.4,NaN,0.5,NaN,0.4,NaN,0.4,NaN,0.4,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
46,Kosovo (under United Nations Security Council ...,0.7,NaN,0.7,NaN,0.5,NaN,0.7,NaN,:,...,:,NaN,:,NaN,0.7,NaN,0.6,NaN,0.6,NaN
47,Moldova,3.5,NaN,3.9,NaN,3.5,NaN,3.3,NaN,3.2,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
48,Monaco,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
49,Russia,4.5,NaN,4.8,NaN,5,NaN,4.9,NaN,4.5,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
50,San Marino,2.8,NaN,2.1,NaN,2.2,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
51,Ukraine,3.8,NaN,3.8,NaN,5.3,NaN,3.2,NaN,2.8,...,:,NaN,:,NaN,3,NaN,3.1,NaN,3,NaN
52,Armenia,0.9,NaN,0.9,NaN,0.9,NaN,0.9,NaN,0.9,...,:,NaN,:,NaN,1.2,NaN,1.2,NaN,:,NaN
53,Azerbaijan,0.9,NaN,1,NaN,0.9,NaN,0.9,NaN,1,...,1.2,NaN,1.3,NaN,1.3,NaN,1.3,NaN,1.5,NaN
54,Georgia,0.5,NaN,0.5,NaN,0.7,NaN,0.9,NaN,1.1,...,:,NaN,:,NaN,2.4,NaN,2.6,NaN,2.7,NaN

In [1062]:
#drop error columns
EUdivorce.drop(columns=['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 10','Unnamed: 12','Unnamed: 14','Unnamed: 16','Unnamed: 18','Unnamed: 20','Unnamed: 22','Unnamed: 24'], inplace=True)

In [1063]:
EUdivorce = EUdivorce.iloc[5:]
#drop non useful rows

In [1064]:
EUdivorce= EUdivorce.rename(columns={'time':'country_name'})

In [1065]:
EUdivorce.set_index('country_name',inplace=True)
#index set to country name for easy navigation

In [1066]:
EUdivorce= EUdivorce.apply(lambda x: x.replace(':',np.nan))
#replace : with nan

In [1067]:
EUdivorce.dropna(thresh=9,inplace=True)
#drop results with more than 3 nan's

In [1068]:
EUdivorce.fillna(axis=1,method='ffill',inplace=True)
#used ffill from last valid year in row

In [1069]:
EUdivorce= EUdivorce.astype(float)

In [1070]:
EUdivorce.reset_index('country_name',inplace=True)

In [1071]:
EUdivorce.country_name = EUdivorce.country_name.apply(lambda x: x.split(' ')[0])
#remove extra wording from Germany and Kosovo

In [1072]:
EUdivorce.set_index('country_name',inplace=True)

In [1073]:
EUdivorce.rename(index={'United':'United Kingdom', 'North':'Macedonia', 'Czechia': 'Czech Republic'},inplace=True)

In [1074]:
EUdivorce['mean']= EUdivorce.iloc[:][EUdivorce.columns].mean(axis=1)
#created avg of all years for each country

In [1075]:
EUdivorce

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,mean
country_name,,,,,,,,,,,,,
Belgium,2.8,2.8,3.3,3.0,2.7,2.5,2.3,2.2,2.2,2.2,2.1,2.0,2.508333
Bulgaria,2.0,2.2,1.9,1.6,1.5,1.4,1.6,1.5,1.5,1.5,1.5,1.5,1.641667
Czech Republic,3.1,3.0,3.0,2.8,2.9,2.7,2.5,2.7,2.5,2.5,2.4,2.4,2.708333
Denmark,2.6,2.6,2.7,2.7,2.6,2.6,2.8,3.4,3.4,2.9,3.0,2.6,2.825000
Germany,2.3,2.3,2.3,2.3,2.3,2.3,2.2,2.1,2.1,2.0,2.0,1.9,2.175000
Estonia,2.8,2.8,2.6,2.4,2.2,2.3,2.4,2.5,2.4,2.6,2.5,2.5,2.500000
Ireland,0.9,0.8,0.8,0.7,0.7,0.6,0.6,0.6,0.6,0.7,0.7,0.7,0.700000
Greece,1.2,1.2,1.2,1.2,1.2,1.1,1.3,1.5,1.3,1.4,1.0,1.8,1.283333
Spain,2.9,2.8,2.4,2.1,2.2,2.2,2.2,2.0,2.2,2.1,2.1,2.1,2.275000
France,2.2,2.1,2.1,2.0,2.1,2.0,2.0,1.9,1.9,1.9,1.9,1.9,2.000000
Croatia,1.1,1.1,1.2,1.2,1.2,1.3,1.3,1.4,1.4,1.4,1.7,1.5,1.316667
Italy,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,1.4,1.6,1.5,1.050000
Cyprus,2.3,2.1,2.1,2.2,2.3,2.3,2.4,2.2,2.2,2.1,2.3,2.2,2.225000
Latvia,3.3,3.4,2.9,2.4,2.4,4.0,3.6,3.5,3.1,2.6,3.1,3.1,3.116667
Lithuania,3.4,3.5,3.2,2.9,3.2,3.4,3.5,3.4,3.3,3.2,3.1,3.0,3.258333
Luxembourg,2.5,2.3,2.0,2.1,2.1,2.3,2.0,2.1,2.6,2.4,2.1,2.0,2.208333
Hungary,2.5,2.5,2.5,2.4,2.4,2.3,2.2,2.0,2.0,2.1,2.0,1.9,2.233333
Netherlands,1.9,2.0,2.0,1.9,2.0,2.0,2.1,2.0,2.1,2.0,2.0,1.9,1.991667
Austria,2.5,2.5,2.4,2.3,2.1,2.1,2.0,1.9,1.9,1.9,1.8,1.8,2.100000
Poland,1.9,1.7,1.7,1.7,1.6,1.7,1.7,1.7,1.7,1.8,1.7,1.7,1.716667
Portugal,2.3,2.4,2.5,2.5,2.6,2.5,2.4,2.2,2.1,2.3,2.2,2.1,2.341667
Romania,1.5,1.7,1.7,1.6,1.6,1.8,1.6,1.4,1.4,1.6,1.5,1.6,1.583333
Slovenia,1.2,1.3,1.1,1.1,1.2,1.1,1.2,1.1,1.2,1.2,1.2,1.2,1.175000
Slovakia,2.4,2.3,2.4,2.4,2.2,2.1,2.0,2.0,1.9,1.8,1.7,1.8,2.083333
Finland,2.5,2.5,2.5,2.5,2.5,2.5,2.4,2.5,2.5,2.5,2.5,2.4,2.483333
Sweden,2.2,2.3,2.3,2.4,2.5,2.5,2.5,2.8,2.7,2.5,2.4,2.4,2.458333
United Kingdom,2.4,2.3,2.2,2.0,2.1,2.1,2.0,2.0,1.9,1.7,1.8,1.8,2.025000
Norway,2.3,2.2,2.1,2.1,2.1,2.1,2.0,2.0,1.9,1.9,1.9,2.0,2.050000
Switzerland,2.8,2.6,2.6,2.5,2.8,2.2,2.2,2.1,2.0,2.1,2.0,1.9,2.316667
Montenegro,0.8,0.7,0.7,0.7,0.8,0.8,0.8,0.8,0.9,0.9,1.1,1.2,0.850000
Macedonia,0.7,0.7,0.6,0.6,0.8,0.9,0.9,1.0,1.1,1.0,1.0,1.0,0.858333
Serbia,1.1,1.2,1.2,1.2,0.9,1.1,1.0,1.1,1.1,1.3,1.3,1.3,1.150000
Turkey,1.3,1.3,1.4,1.6,1.6,1.6,1.6,1.6,1.7,1.7,1.6,1.6,1.550000
Belarus,3.3,3.7,3.8,3.7,3.9,4.1,4.1,3.8,3.7,3.5,3.4,3.4,3.700000
Kosovo,0.7,0.7,0.5,0.7,0.7,0.8,0.7,0.7,0.7,0.7,0.6,0.6,0.675000
Ukraine,3.8,3.8,5.3,3.2,2.8,1.4,1.1,1.1,1.1,3.0,3.1,3.0,2.725000
Azerbaijan,0.9,1.0,0.9,0.9,1.0,1.2,1.2,1.2,1.3,1.3,1.3,1.5,1.141667
Georgia,0.5,0.5,0.7,0.9,1.1,1.3,1.3,1.3,1.3,2.4,2.6,2.7,1.383333

In [1076]:
eurolats= pd.read_excel(r'C:\Users\sh9wn\Desktop\euro lats.xlsx')
eurolats.head()
#adding latitude

    latitude                  name
0  42.546245               Andorra
1  23.424076  United Arab Emirates
2  33.939110           Afghanistan
3  17.060816   Antigua and Barbuda
4  18.220554              Anguilla

In [1077]:
eurolats = eurolats[eurolats['name'].isin(europels)]

In [1078]:
eurolats.rename(columns={'name':'country_name'},inplace=True)

In [1079]:
eurolats.set_index('country_name',inplace=True)

In [1080]:
EUdivorce= pd.merge(EUdivorce,eurolats, how='left',on='country_name')
EUdivorce.head()

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,mean,latitude
country_name,,,,,,,,,,,,,,
Belgium,2.8,2.8,3.3,3.0,2.7,2.5,2.3,2.2,2.2,2.2,2.1,2.0,2.508333,50.503887
Bulgaria,2.0,2.2,1.9,1.6,1.5,1.4,1.6,1.5,1.5,1.5,1.5,1.5,1.641667,42.733883
Czech Republic,3.1,3.0,3.0,2.8,2.9,2.7,2.5,2.7,2.5,2.5,2.4,2.4,2.708333,49.817492
Denmark,2.6,2.6,2.7,2.7,2.6,2.6,2.8,3.4,3.4,2.9,3.0,2.6,2.825000,56.263920
Germany,2.3,2.3,2.3,2.3,2.3,2.3,2.2,2.1,2.1,2.0,2.0,1.9,2.175000,51.165691